
GEMINI_API_KEY="AIzaSyDcTJJSI7wbGbeUAzea3Yv1vi2SA6Vrolw"

APP_URL="MY_APP_URL"

# PAYSTACK_PUBLIC_KEY: Required for Paystack integration.
VITE_PAYSTACK_PUBLIC_KEY="pk_test_2b4b105d6b6c994e2c822b0475e2966d49b2f60b"
